<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>document.documentElement.classList.add('js');</script>
  <title>{{ title }} | {{ site.name }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <meta property="og:title" content="{{ title }} | {{ site.name }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="{{ site.url }}{{ image or '/images/projects/shop-building.jpg' }}">
  <meta name="theme-color" content="#182619">
  <link rel="preload" href="/fonts/barlow-cond-700.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/barlow-500.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/sserif-400.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="/css/style.css">
  {% include "partials/schema-localbusiness.njk" %}
  {% block head %}{% endblock %}
</head>
<body>
  {% include "partials/nav.njk" %}
  {% block content %}{{ content | safe }}{% endblock %}
  {% include "partials/footer.njk" %}
  <script src="/js/main.js"></script>
</body>
</html>
