---
layout: layouts/base.njk
title: Page not found
description: That page could not be found. Call us at (248) 625-2334 or head back home.
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="blk"><div class="wrap" style="text-align:center">
  <h1>We could not find that page</h1>
  <p>Try the <a href="/">homepage</a>, or call us at <a href="tel:{{ site.phoneTel }}">{{ site.phone }}</a>.</p>
</div></section>
